@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i');



html, body {
  height: 100%;
  font-family: 'Lora', serif;
  background: #fff;
  color: #666;
}

.btn-primary {
  background: #666 !important;
  border: none !important;
  outline: none !important;
  width: 100%;
}

.form-control:focus {
  border-color: #666;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: #666 !important;
  outline: none !important;
  border: none !important;
}

.navbar-brand {
  display: block;
  text-align: center;
  color: #FFF;
  margin: 0px 0px 20px 0px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.navbar-brand:focus, .navbar-brand:hover, .navbar-brand:active {
  color: #FFF;
}

.meme-gen-modal {
  max-width: fit-content;
}

.modal-body {
  display: flex;
  border-radius: 0px;
  border: 1px none #000000;
  background-color: rgba( 246, 245, 243, 1.00 );
}

.modal-header {
  background-color: rgba( 246, 245, 243, 1.00 );
}

.meme-form {
  margin-left: 20px;
  padding-left: 20px;
  width: 300px;
  border-left: 1px solid #e9ecef;
}

.form-control:focus {
  box-shadow: none;
}

.image-holder {
  width: 168px;
  height: 168px;
  margin: 2.5px 2px;
  position: relative;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.image-holder:hover {
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.3);
}

.row {
  margin: 0 auto;
  justify-content: center;
}

.main-content {
  display:flex;
	flex-wrap:wrap;
	text-align:center;
  justify-content: center;
}
header p {
  margin-bottom: 30px;
  font-size: 35.12px;
  display: inline-block;
  color: rgb(100, 75, 75);
  letter-spacing: 1px;
  font-weight: 300;
  text-align: center;
  font-family: Impact;
}

header {
display: flex;
justify-content: center; /* align horizontal */
align-items: center
}

.content {
  display:flex;
	flex-wrap:wrap;
	text-align:center;
  justify-content: center;

}

.meme-bottom-caption {
  position: absolute;
  font-size: 20px;
  display: block;
  width: 100%;
  font-family: Impact;
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  padding: 5px;
  color: #fff;
  letter-spacing: 1px;
  background: rgba(128,128,128, 0.4);
}

.meme-top-caption {
  position: absolute;
  font-size: 20px;
  display: block;
  width: 100%;
  font-family: Impact;
  text-align: center;
  text-transform: uppercase;
  top: 0;
  padding: 5px;
  color: #fff;
  letter-spacing: 1px;
  background: rgba(128,128,128, 0.4)	;
}
